<div class="summary-header-container clearfix">
    <div class="summary-header">
        <div class="pull-left">
            <h4>Benefits</h4>
        </div>
        <div id="enroll_401k" class="pull-right goBackAndEditLink">
            <button class="btn btn-small">Go Back and Edit</button>
        </div>
    </div>
    <div class="summary-body">
        <h5>401(k) Retirement Plan</h5>
        <hr style="border-bottom: solid 1px #e2e7e8;" />
        <dl class="dl-horizontal">
            <dt>Employee Contribution</dt>
            <dd><%= employeePercentage %></dd>
            <dt>Total Contribution</dt>
            <dd><%= companyPercentage %></dd>
        </dl>
    </div>
</div>