<div style="margin: 10px 0; color: #666" class="clearfix">
    <div class="pull-left">
        <strong>Current Employee</strong>: Danny Douglass (XXX-XX-1234)
    </div>
    <div class="pull-right">
        <strong>Date of Hire</strong>: 1/26/2012
    </div>
    </div>
    <div style="padding: 20px 8px 0px 5px">
    <fieldset>
        <legend id="PlanOptions_401kPlan">
            <div class="clearfix">
                <div class="pull-left">
                    <h4>401(k) Retirement Plan</h4>
                </div>
                <div id="enroll_401k" class="pull-right" style="padding-right: 25px;">
                    <button class="btn enroll">Edit</button>
                </div>
            </div>
        </legend>
        <div class="wizard-step-body">
        </div>
    </fieldset>

    <fieldset>
        <legend>
            <div class="clearfix">
                <div class="pull-left">
                    <h4>Medical Benefits</h4>
                </div>
                <div class="pull-right" style="padding-right: 25px;">
                    <button class="btn enroll">Edit</button>
                </div>
            </div>
        </legend>
        <div class="wizard-step-body-static">
            <div class="wizard-thumbnail-static" style="">
                <h5 class="muted">PLAN OPTIONS</h5>
                <ul class="unstyled">
                    <li>PPO Plan 1: Network-HealthLink FAP PPO</li>
                    <li>PPO Plan 2: Network-HealthLink FAP PPO</li>
                    <li>PPO Plan 3: High-Deductible Plan</li>
                </ul>
                <a href="javascript:void(0);">Show Details</a>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>
            <div class="clearfix">
                <div class="pull-left">
                    <h4>Dental Benefits</h4>
                </div>
                <div class="pull-right" style="padding-right: 25px;">
                    <button class="btn enroll">Edit</button>
                </div>
            </div>
        </legend>
        <div class="wizard-step-body-static">
            <div class="wizard-thumbnail-static" style="">
                <h5 class="muted">PLAN OPTIONS</h5>
                <ul class="unstyled">
                    <li>Enhanced Plus Dental Plan 1</li>
                </ul>
                <a href="javascript:void(0);">Show Details</a>
            </div>
        </div>
    </fieldset>
</div>