<div class="legendBody">
    <ul class="inline">
        <li style="margin-right: 50px;">
            <label>Social Security Number *</label>
            <strong><%= formatSSN(socialSecurityNumber) %></strong>
        </li>
        <li>
            <label>Date of Hire *</label>
            <strong><%= formatDate("dateOfHire") %></strong>
        </li>
        <li class="pull-right" style="padding-top: 10px;">
            <button id="edit_new_hire" style="" class="btn">Edit</button>
        </li>
    </ul>
    <div class="new-hire-details">
        <div>
            <ul class="inline">
                <li>
                    <label>Salutation</label>
                    <select id="salutation" name="salutation" style="width: 80px;">
                        <option selected="<% salutation === 'Mr.' ? 'selected' : '' %>">Mr.</option>
                        <option selected="<% salutation === 'Mrs.' ? 'selected' : '' %>">Mrs.</option>
                    </select>
                </li>
                <li style="margin-right: 10px;">
                    <label>First Name *</label>
                    <input id="firstName" name="firstName" type="text" value="<%= firstName %>" style="width: 150px;"  />
                </li>
                <li style="margin-right: 10px;">
                    <label>Middle Name</label>
                    <input id="middleName" name="middleName" type="text" value="<%= middleName %>" style="width: 100px;" />
                </li>
                <li style="margin-right: 10px;">
                    <label>Last Name *<label>
                    <input id="lastName" name="lastName" type="text" value="<%= lastName %>" style="width: 150px;"  />
                </li>
                <li>
                    <label>Suffix</label>
                    <select id="suffix" name="suffix" style="width: 80px;">
                        <option selected="<%= suffix === 'Jr.' ? 'selected' : '' %>">Jr.</option>
                        <option selected="<%= suffix === 'Esq.' ? 'selected' : '' %>">Esq.</option>
                    </select>
                </li>
            </ul>
        </div>
        <div>
            <ul class="inline">
                <li>
                    <label>Martial Status</label>
                    <select id="marital_status" name="maritalStatus">
                        <option selected="<% maritalStatus === 'Married' ? 'selected' : ''  %>">Married</option>
                        <option selected="<% maritalStatus === 'Single' ? 'selected' : ''  %>">Single</option>
                    </select>
                </li>
                <li>
                    <label>Date of Birth *</label>
                    <input id="dateOfBirth" name="dateOfBirth" type="text" placeholder="__/__/____" value="<%= formatDate('dateOfBirth') %>" />
                </li>
            </ul>
        </div>
        <div style="margin-top: 10px;">
            <ul class="inline">
                <li>
                    Gender *<br />
                    <label class="radio inline">
                        <input id="gender_male" name="gender" type="radio" value="Male" 
                            checked="<% gender === 'Male' ? 'checked' : ''  %>" />
                        Male
                    </label>
                </li>
                <li>
                    <label class="radio inline">
                        <input id="gender_female" name="gender" type="radio" value="Female" 
                            checked="<% gender === 'Female' ? 'checked' : ''  %>" />
                        Female
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="legendSpacer"></div>
<div class="legendFooter">
    <div class="text-right">
        <button class="btn cancel">Cancel</button>
        <button id="done" class="btn btn-success">Done</button>
    </div>
</div>
