<ul class="inline">
    <li style="width: 33%;">
        <label>Social Security Number *</label>
        <strong><%= formatSSN(socialSecurityNumber) %></strong>
    </li>
    <li style="width: 33%;">
        <label>Date of Hire *</label>
        <strong><%= formatDate("dateOfHire") %></strong>
    </li>
    <li class="text-right" style="width: 29%;">
        <button id="edit_new_hire" style="margin-top: -15px;" class="btn">Edit</button>
    </li>
</ul>
<div id="new_hire_details" style="border-top: dotted 1px #DFDFDF;">
    <div>
        <label>Salutation</label>
        <select>
            <option selected="<% salutation === 'Mr' ? 'selected' : '' %>">Mr.</option>
            <option selected="<% salutation === 'Mrs' ? 'selected' : '' %>">Mrs.</option>
        </select>
    </div>
    <div>
        <ul class="inline">
            <li style="width: 27%;">
                <label>First Name *</label>
                <input id="firstName" name="firstName" type="text" value="<%= firstName %>" />
            </li>
            <li style="width: 27%;">
                <label>Middle Name</label>
                <input id="middleName" name="middleName" type="text" value="<%= middleName %>" />
            </li>
            <li style="width: 27%;">
                <label>Last Name *<label>
                <input id="lastName" name="lastName" type="text" value="<%= lastName %>" />
            </li>
            <li style="width: 10%;">
                <label>Suffix</label>
                <select id="suffix" name="suffix" style="width: 75px;">
                    <option selected="<%= suffix === 'Jr.' ? 'selected' : '' %>">Jr.</option>
                    <option selected="<%= suffix === 'Esq.' ? 'selected' : '' %>">Esq.</option>
                </select>
            </li>
        </ul>
    </div>
    <div>
        <ul class="inline">
            <li>
                Gender *<br />
                <label class="radio inline">
                    <input id="gender_male" name="gender" type="radio" value="Male" 
                        checked="<% gender === 'Male' ? 'checked' : ''  %>" />
                    Male
                </label>
            </li>
            <li>
                <label class="radio inline">
                    <input id="gender_female" name="gender" type="radio" value="Female" 
                        checked="<% gender === 'Female' ? 'checked' : ''  %>" />
                    Female
                </label>
            </li>
        </ul>
    </div>
    <div>
        <label>Martial Status</label>
        <select>
            <option selected="<% maritalStatus === 'Married' ? 'selected' : ''  %>">Married</option>
            <option selected="<% maritalStatus === 'Single' ? 'selected' : ''  %>">Single</option>
        </select>
    </div>
    <div>
        <label>Date of Birth *</label>
        <input id="dateOfBirth" type="text" placeholder="__/__/____" value="<%= formatDate('dateOfBirth') %>" />
    </div>
    <div class="text-right" style="border-top: dotted 1px #DFDFDF; padding: 5px;">
        <button id="done" class="btn btn-success">Done</button>
    </div>
</div>