<div>
    <fieldset>
        <legend class="active">
            <div class="clearfix">
                <div class="pull-left">
                    <h4>Employee Information</h4>
                </div>
                <div id="employee-info-summary-edit" class="pull-right" style="padding-right: 25px; display: none;">
                    <button class="btn enroll">Edit</button>
                </div>
            </div>
        </legend>
        <div class="wizard-step-body">
        </div>
    </fieldset>

    <fieldset>
        <legend>
            <h4>Employment Information</h4>
        </legend>
    </fieldset>

    <fieldset>
        <legend>
            <h4>Contact</h4>
        </legend>
    </fieldset>

    <fieldset>
        <legend>
            <h4>Dependents</h4>
        </legend>
    </fieldset>
</div>
