<div style="padding: 20px 8px 0px 5px">
    <fieldset>
        <legend class="active">
            <h4>Employee Information</h4>
        </legend>
        <div class="wizard-step-body">
        </div>
    </fieldset>

    <fieldset>
        <legend>
            <h4>Employment Information</h4>
        </legend>
    </fieldset>

    <fieldset>
        <legend>
            <h4>Contact</h4>
        </legend>
    </fieldset>

    <fieldset>
        <legend>
            <h4>Dependents</h4>
        </legend>
    </fieldset>
</div>