<div class="summary-header-container clearfix">
    <div class="summary-header">
        <div class="pull-left">
            <h4>New Hire Profile</h4>
        </div>
        <div id="enroll_401k" class="pull-right goBackAndEditLink">
            <button class="btn btn-small">Go Back and Edit</button>
        </div>
    </div>
    <div class="summary-body">
        <div class="clearfix">
            <div class="pull-left" style="width: 50%;">
                <h5>Personal Information</h5>
                <hr style="border-bottom: solid 1px #e2e7e8;" />
                <dl class="dl-horizontal" style="padding-left: 20px;">
                    <dt>Social Security Number</dt>
                    <dd><%= socialSecurityNumber %></dd>
                    <dt>Date of Hire</dt>
                    <dd><%= dateOfHire %>&nbsp;</dd>
                    <dt>Subgroup ID</dt>
                    <dd>01-00091-001</dd>
                    <dt>First Name</dt>
                    <dd><%= firstName %>&nbsp;</dd>
                    <dt>Middle Name</dt>
                    <dd><%= middleName %>&nbsp;</dd>
                    <dt>Last Name</dt>
                    <dd><%= lastName %>&nbsp;</dd>
                    <dt>Gender</dt>
                    <dd><%= gender %>&nbsp;</dd>
                    <dt>Marital Status</dt>
                    <dd><%= maritalStatus %>&nbsp;</dd>
                </dl>
            </div>
            <div class="pull-right" style="width: 50%;">
                <h5>Employment Information</h5>
                <hr style="border-bottom: solid 1px #e2e7e8;" />
                <dl class="dl-horizontal" style="padding-left: 20px;">
                    <dt>Employment Status</dt>
                    <dd>Active</dd>
                    <dt>Employment Reason</dt>
                    <dd>&nbsp;</dd>
                    <dt>Latest Date of Hire</dt>
                    <dd><%= dateOfHire %>&nbsp;</dd>
                    <dt>Type of Employee</dt>
                    <dd>Full Time</dd>
                    <dt>Job Status</dt>
                    <dd>Active</dd>
                    <dt>Job Code</dt>
                    <dd>Employee</dd>
                    <dt>Union Member?</dt>
                    <dd>No</dd>
                    <dt>Outside Employee?</dt>
                    <dd>No</dd>
                    <dt>Annual Base Salary</dt>
                    <dd>$56,000</dd>
                    <dt>Payroll Frequency</dt>
                    <dd>Bi-Weekly</dd>
                </dl>
            </div>
        </div>
        <div class="clearfix">
            <div class="pull-left" style="width: 60%;">
                <h5>Contact</h5>
                <hr style="border-bottom: solid 1px #e2e7e8;" />
                <dl class="dl-horizontal" style="padding-left: 20px;">
                    <dt>Address</dt>
                    <dd>4301 Wilson Boulevard</dd>
                    <dt>City</dt>
                    <dd>Arlington</dd>
                    <dt>State</dt>
                    <dd>Virginia</dd>
                    <dt>ZIP Code</dt>
                    <dd>22203</dd>
                    <dt>Country</dt>
                    <dd>United States</dd>
                    <dt>Phone Number</dt>
                    <dd>123-456-7890</dd>
                    <dt>Email Address</dt>
                    <dd>employeeEmail@nreca.coop</dd>
                </dl>
            </div>
            <div class="pull-right" style="width: 40%;">
                <h5>Dependents</h5>
                <hr style="border-bottom: solid 1px #e2e7e8;" />
                <em>None entered</em>
            </div>
        </div>
    </div>
</div>