<div class="wizard-step-body" style="background-color: #FFFFFF; border: 0; margin: 0; padding: 0;">
    <div class="summary new-hire-summary"></div>
    <div class="summary benefits-summary"></div>
    <div class="actions" style="margin-top: 20px;">
        <div class="pull-left">
            <a class="btn btn-link" href="javascript:void(0);">Previous Step</a>
        </div>
        <div class="pull-right">
            <button class="btn btn-large btn-success">Complete New Hire Entry</button>
        </div>
    </div>
</div>