<div id="lastSavedWell">
    <div id="lastSavedDetails">
        <div style="margin-bottom: 10px;">
            <span class=" muted"><em>Last Saved</em></span> <span style="font-weight: 600; padding-left: 3px;"><em>Not Saved</em></span>
        </div>
        <button class="btn">SAVE & RETURN LATER</button>
    </div>
</div>
<hr style="border-bottom: 1px solid #eee; width: 100%;" />
<div id="needHelpWell">
    <h5>NEED HELP?</h5>
    <div style="font-size: .9em; margin-top: 20px;">
        <div style="line-height: 18px;">
            <img src="./images/cb-theme-1/icon-phone.png" class="pull-left" style="margin: 0 16px 0 4px;" />
            Call us <strong>1 (123) 456-7890</strong><br />
            7am - 7pm CST, Monday - Friday
        </div>
        <div style="margin-top: 15px; line-height: 24px;">
            <img src="./images/cb-theme-1/icon-chatbubble.png" class="pull-left" style="margin-right: 10px;" />
            <a href="#">Chat with a representative now</a>
        </div>
        <div style="margin-top: 15px; line-height: 16px">
            <img src="./images/cb-theme-1/icon-envelope.png" class="pull-left" style="margin: 0 12px 0 4px;" />
            <a href="#">Email with a representative now</a>
        </div>
    </div>
</div>