<h3>Add a New Hire</h3>

<p style="padding-top: 5px;">
    <div class="progress">
        <div class="bar bar-info" style="width: 20%;">1. New Hire Profile</div>
        <div class="bar-inactive" title="Step Incomplete" style="width: 20%;">2. Choose Benefits</div>
        <div class="bar-inactive" title="Step Incomplete" style="width: 20%;">3. Beneficiaries</div>
        <div class="bar-inactive" title="Step Incomplete" style="width: 20%;">4.Publications</div>
        <div class="bar-inactive" title="Step Incomplete" style="width: 20%;">5. Review & Complete</div>
    </div>
</p>
<!-- Example for second page
<p>
    <div class="progress">
        <div class="bar bar-success" style="width: 20%;">1. New Hire Profile</div>
        <div class="bar bar-info" style="width: 20%;">2. Choose Benefits</div>
        <div class="bar-inactive" style="width: 20%;">3. Beneficiaries</div>
        <div class="bar-inactive" style="width: 20%;">4.Publications</div>
        <div class="bar-inactive" style="width: 20%;">5. Review & Complete</div>
    </div>
</p>
-->
<div class="clearfix" style="border-bottom: solid 1px #DFDFDF; padding: 10px 0;">
    <div class="pull-left" style="color: #666;">
        <strong>Please enter all the employee's profile information.</strong>
    </div>
    <div class="pull-right">
        * Required Field
    </div>
</div>
<div style="padding: 20px 8px 0px 10px">
    <fieldset>
        <legend class="active">
            Employee Information
        </legend>
        <div style="background-color: #F9F9F9; border: solid 1px #DFDFDF; padding: 10px; margin-left: 15px;">
            <ul class="inline">
                <li style="width: 33%;">
                    <label>Social Security Number *</label>
                    <input id="ssn" name="ssn" type="text" value="" placeholder="___-__-____" />
                </li>
                <li style="width: 33%;">
                    <label>Date of Hire *</label>
                    <input id="dateOfHire" name="dateOfHire" type="text" placeholder="__/__/____" />
                </li>
                <li class="text-right" style="width: 29%;">
                    <button id="start_new_hire" style="margin-top: -15px;" class="btn">Start New Hire</button>
                </li>
            </ul>
            <div id="new_hire_details" style="border-top: dotted 1px #DFDFDF; display: none;">
                <div>
                    <label>Salutation</label>
                    <select>
                        <option>Mr.</option>
                        <option>Mrs.</option>
                    </select>
                </div>
                <div>
                    <ul class="inline">
                        <li style="width: 27%;">
                            <label>First Name *</label>
                            <input id="firstName" name="firstName" type="text" />
                        </li>
                        <li style="width: 27%;">
                            <label>Middle Name</label>
                            <input id="middleName" name="middleName" type="text" />
                        </li>
                        <li style="width: 27%;">
                            <label>Last Name *<label>
                            <input id="lastName" name="lastName" type="text" />
                        </li>
                        <li style="width: 10%;">
                            <label>Suffix</label>
                            <select id="suffix" name="suffix" style="width: 75px;">
                                <option>Jr.</option>
                                <option>Esq.</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="inline">
                        <li>
                            Gender *<br />
                            <label class="radio inline">
                                <input id="gender_male" name="gender" type="radio" value="Male" />
                                Male
                            </label>
                        </li>
                        <li>
                            <label class="radio inline">
                                <input id="gender_female" name="gender" type="radio" value="Female" />
                                Female
                            </label>
                        </li>
                    </ul>
                </div>
                <div>
                    <label>Martial Status</label>
                    <select>
                        <option>Married</option>
                        <option>Single</option>
                    </select>
                </div>
                <div>
                    <label>Date of Birth *</label>
                    <input type="text" placeholder="__/__/____" />
                </div>
                <div class="text-right" style="border-top: dotted 1px #DFDFDF; padding: 5px;">
                    <button id="done" class="btn">Done</button>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="">
            Employment Information
        </legend>
    </fieldset>
    <fieldset>
        <legend>
            Contact
        </legend>
    </fieldset>
    <fieldset>
        <legend>
            Dependents
        </legend>
    </fieldset>
</div>