<h3>Add a New Hire</h3>
<p>BREADCRUMBS GO HERE</p>
<div class="clearfix" style="border-bottom: dotted 1px #DFDFDF;">
    <div class="pull-left">
        <h5>Please enter all the employee's profile information.</h5>
    </div>
    <div class="pull-right">
        * Required Field
    </div>
</div>
<div style="padding: 10px 50px 0px 3px">
    <fieldset>
        <legend style="background-color: #DBDBDB; border-radius: 5px; margin-bottom: 0; padding: 5px;">
            Employee Information
        </legend>
        <div style="background-color: #F9F9F9; border: solid 1px #DFDFDF; padding: 10px;">
            <ul class="inline">
                <li style="width: 33%;">
                    <label>Social Security Number *</label>
                    <input type="text" placeholder="___-__-____" />
                </li>
                <li style="width: 33%;">
                    <label>Date of Hire *</label>
                    <input type="text" placeholder="__/__/____" />
                </li>
                <li class="text-right" style="width: 29%;">
                    <button style="margin-top: -15px;" class="btn">Start New Hire</button>
                </li>
            </ul>
        </div>
    </fieldset>
</div>