<fieldset>
    <legend style="background-color: #DBDBDB; border-radius: 5px; margin-bottom: 0; padding: 5px;">
        Employee Information
    </legend>
    <div style="background-color: #F9F9F9; border: solid 1px #DFDFDF; padding: 10px;">
        <ul class="inline">
            <li style="width: 33%;">
                <label>Social Security Number *</label>
                <input id="ssn" name="ssn" type="text" value="" placeholder="___-__-____" />
            </li>
            <li style="width: 33%;">
                <label>Date of Hire *</label>
                <input id="dateOfHire" name="dateOfHire" type="text" placeholder="__/__/____" />
            </li>
            <li class="text-right" style="width: 29%;">
                <button id="start_new_hire" style="margin-top: -15px;" class="btn">Start New Hire</button>
            </li>
        </ul>
</fieldset>