<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>Lean Ux Prototype</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="lib-local/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="css/styles.css" rel="stylesheet" media="screen">
    </head>

    <body>
    	<script id="loadingTemplate" type="text/template">
    		<div id="loading">
    			<img src="images/loading.gif"/> Loading...
    		</div>
    	</script>

    	<script id="errorTemplate" type="text/template">
    		<div id="errorMessage" class="alert alert-error">
    			<strong>Error</strong>: Please try to refersh the page
    		<div>
    	</script>
		
		<script id="rightSideBarTemplate" type="text/template">
			<div id="needHelpWell" class="well well-small">
				<h4>Need Help?</h4>
				Phone: <strong>(123) 456-7890</strong><br />
				7am - 7pm CST, Monday - Friday<br />
				Or <a href="#">Contact Us via email</a>
			</div>
		</script>

		<script id="newHireLandingHeader" type="text/template">
			<div class="clearfix" style="margin: 0 0 10px 0">
			    <h3 style="float: left;">New Hire</h3>
			    <a href="#employeeProfile">
			    	<button id="addNewHire" class="btn btn-large" style="float: right; margin-top: 30px;">
			        	<i class="icon-plus-sign"></i> Add a New Hire
			    	</button>
			    </a>
			</div>
		</script>

		<script id="newHireTableHeader" type="text/template">
			<thead>
				<tr class="muted" style="font-weight: bold;">
					<td>EMPLOYEE NAME</td>
					<td>SSN</td>
					<td>DATE OF HIRE</td>
					<td>STATUS</td>
					<td></td>
					<td></td>
				</tr>
			</thead>
		</script>

		<script id="newHireLandingTemplate" type="text/template">
			<table id="recentNewHires" class="table table-striped table-outlined">
				<tbody id="newHires">
				</tbody>
			</table>
		</script>

		<script id="NewHiresItemTemplate" type="text/template">
			<td class="strong">
				<% if (status !== "Complete") { %>
					<strong><em><%= firstName %> <%= lastName %></em></strong>
				<% } else { %>
					<a href="#">
						<%= firstName %>
						<%= lastName %>
					</a>
				<% } %>
			</td>
			<td><%= formatSSN() %></td>
			<td><%= formatDate("dateOfHire") %></td>
			<td>
				<% if (status === "Not Completed") { %>
					<strong><em><%= status %></em></strong>
				<% } else if (status === "Pending Completion") { %>
					<em><%= status %></em>
				<% } else { %>
					<%= status %>
				<% } %>
				<% if (status === "Not Completed") { %>
					<div>
						<small><%= statusLocation %></small>
					</div>
				<% } %>
			</td>
			<td>
				<% if (status === "Not Completed") { %>
					<button class="btn btn-danger deleteNewHire"  data-id="<%= _id %>">Delete</button>
				<% } %>
			</td>
			<td>
				<% if (status === "Not Completed") { %>
					<button class="btn" data-id="<%= _id %>">Continue</button>
				<% } %>
			</td>
		</script>

		<script data-main="js/main.js" src="lib/requirejs/require.js"></script>
    	
    	<div id="page">
    		<div id="mainNavigation" class="navbar">
				<div class="navbar-inner">
				<a class="brand" href="#">Cooperative.com</a>
				<ul class="nav">
					<li class="active"><a href="#">Administration</a></li>
					<li><a href="#">Personal</a></li>
					<li style="width: 10px;">&nbsp;</li>
					<li class="divider-vertical"></li>
					<li style="width: 10px;">&nbsp;</li>
					<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Library <b class="caret"></b></a>
                		<ul class="dropdown-menu">
							<li><a href="#">Video</a></li>
							<li><a href="#">Photos</a></li>
							<li><a href="#">Tutorials</a></li>
							<li><a href="#">Industry Publications</a></li>
							<li><a href="#">Business Book Summaries</a></li>
		                </ul>
					</li>
					<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">News <b class="caret"></b></a>
                		<ul class="dropdown-menu">
							<li><a href="#">Coop News</a></li>
							<li><a href="#">Daily News Briefing</a></li>
							<li><a href="#">Electric Industry News</a></li>
		                </ul>
					</li>
					<li><a href="#">Conferences & Education</a></li>
					<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Community & Membership <b class="caret"></b></a>
                		<ul class="dropdown-menu">
							<li><a href="#">My Course Record</a></li>
							<li><a href="#">My List Servs</a></li>
							<li><a href="#">Directories</a></li>
		                </ul>
					</li>
					<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">My Profile <b class="caret"></b></a>
                		<ul class="dropdown-menu">
							<li><a href="#">Update Contact Info</a></li>
							<li><a href="#">Change Password</a></li>
							<li><a href="#">Change Username</a></li>
							<li><a href="#">Update Security Profile</a></li>
		                </ul>
					</li>
				</ul>
				<p class=".navbar-text pull-right" style="padding-top: 9px"><a href="#">Log Out</a></p>
			</div>
			</div>
			<header>
				<img src="images/banner-cooperative.png" style="border: solid 1px #ddd;" />
			</header>
              
			<div id="contentContainer">
				<ul id="secondaryNavigation" class="nav nav-tabs">
	            	<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Co-op Retirement <b class="caret"></b></a>
                		<ul class="dropdown-menu">
							<li><a href="#">401 (k) Pension Plan Administration</a></li>
							<li><a href="#">401 (k) Pension Plan Contributions</a></li>
							<li><a href="#">401 (k) Pension Plan Loan Repayments</a></li>
							<li><a href="#">401 (k) Pension Plan Employer Expenses</a></li>
		                </ul>
					</li>
	            	<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Co-op Insurance <b class="caret"></b></a>
                		<ul class="dropdown-menu">
							<li><a href="#">My Co-op's Insurance Plans</a></li>
							<li><a href="#">Tax-Advantaged Side Accounts</a></li>
							<li><a href="#">Medicare Part D</a></li>
							<li><a href="#">PPO Provider Nomination</a></li>
		                </ul>
					</li>
					<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Salary & Payroll <b class="caret"></b></a>
                		<ul class="dropdown-menu">
							<li><a href="#">November 15 Base Salaries</a></li>
							<li><a href="#">W-2 Salaries</a></li>
							<li><a href="#">Payroll Transactions</a></li>
		                </ul>
					</li>
					<li class="dropdown active">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Employee Administration <b class="caret"></b></a>
                		<ul class="dropdown-menu">
							<li><a href="#">New Hire/Re-Hire</a></li>
							<li><a href="#">Internal Transfer</a></li>
							<li><a href="#">Separation</a></li>
							<li><a href="#">Benefit Eligibility Status Change</a></li>
		                </ul>
					</li>
					<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports <b class="caret"></b></a>
                		<ul class="dropdown-menu">
							<li><a href="#">RS Plan Contributions</a></li>
							<li><a href="#">401 (k) Plan Contributions</a></li>
							<li><a href="#">401 (k) Loan Repayments</a></li>
							<li><a href="#">Salary Collection</a></li>
		                </ul>
					</li>
					<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Help & Resources <b class="caret"></b></a>
                		<ul class="dropdown-menu">
							<li><a href="#">Quick Reference Guide for BAs</a></li>
							<li><a href="#">Quick Roadmap for BAs</a></li>
							<li><a href="#">Contact NRECA</a></li>
		                </ul>
					</li>
	            </ul>
	            <div id="contentArea" class="clearfix">
            		<ul id="breadcrumb" class="breadcrumb">
            			<li>test</li>
            		</ul>
					
					<div id="leftSubContentColumn"></div>
					<div id="rightSubContentColumn"></div>
	            </div>
            </div>
            <footer>
            	<div id="footerLinksTop">
	            	<a href="#">About Cooperative.com</a>
	            	<a href="#">About NRECA</a>
	            	<a href="#">About Federated</a>
	            	<a href="#">About CFC</a>
	            	<a href="#">Jobs</a>
	            	<a href="#">Contact Us</a>
            	</div>
            	<ul id="footerLogos">
            		<li><a href="http://nreca.coop" title="Visit the NRECA Website"><img src="images/logo-nreca.png" /></a></li>
            		<li><a href="http://federatedrural.com" title="Visit the Federated Website"><img src="images/logo-federal.png" /></a></li>
            		<li><a href="http://nrucfc.com" title="Visit the CFC Website"><img src="images/logo-cfc.png" /></a></li>
        		</ul>
        		<div id="footerLinksBottom">
	            	<a href="#">Privacy Policy</a>
	            	<a href="#">Monitoring Policy</a>
	            	<a href="#">Terms of Use</a>
            </footer>
		</div>
    </body>
</html>