body { width: 100%; }
#page { width: 1200px; margin: 0 auto; text-align: left; margin-bottom: 20px; }
header { width: 100%; text-align: center; margin-bottom: 20px; }
div#contentContainer { margin: 0 20px; }
	ul#secondaryNavigation { margin-bottom: 0px; }
	div#contentArea { border: solid 1px #ddd; height: 200px; border-top: none; border-bottom: none; padding: 10px; }
footer { text-align: center; margin: 0 20px; }
	#footerLinks { background-color: #f5f5f5; padding: 15px 0; border: solid 1px #ddd; border-top: none; }
	#footerLinks a { padding: 0 20px; }
	ul#footerLogos { list-style-type: none; margin-top: 20px; }
		ul#footerLogos li { display: inline; margin: 20px; }