body { width: 100%; padding-bottom: 40px; }
#page { width: 1200px; margin: 0 auto; text-align: left; }
header { width: 100%; text-align: center; margin-bottom: 20px; }
div#loading { margin: 20px 10px; font-size: 1.4em; }
div#loading img { height: 25px; width: 25px; }
div#errorMessage { margin-top: 50px; }
div#contentContainer { margin: 0 20px;  }
	ul#secondaryNavigation { margin-bottom: 0px; }
	div#contentArea { border: solid 1px #ddd; height: auto; border-top: none; border-bottom: none; padding: 10px 10px 40px 10px; }
		.breadcrumb { margin-bottom: 0px; }
		div#leftSubContentColumn { float: left; width: 850px; margin: 0 10px; }
		div#leftSubContentColumn  h3 { /* margin-bottom: 10px; */ }
			table#recentNewHires { width: 100%; }
			table#recentNewHires thead { font-weight: bold; }
			table#recentNewHires tbody tr.notComplete, table#recentNewHires tbody tr td.pending { font-style: italic; }
			table#recentNewHires tbody tr td.strong, table#recentNewHires tbody tr td.notComplete { font-weight: bold; }
		div#rightSubContentColumn { float: right; width: 240px; margin: 85px  0 0; }
footer { text-align: center; margin: 0 20px 0 20px; }
	div#footerLinksTop { background-color: #f5f5f5; padding: 15px 0; border: solid 1px #ddd; border-top: none; }
	div#footerLinksTop a, #footerLinksBottom a { padding: 0 25px; }
	ul#footerLogos { list-style-type: none; margin-top: 20px; }
		ul#footerLogos li { display: inline; margin: 20px; }
	div#footerLinksBottom { margin-top: 20px; }

fieldset { margin-bottom: 20px; width: 810px; }
fieldset legend { font-size: 1.2em; background-color: #efefef; border-radius: 5px; margin-bottom: 0; padding: 2px 5px 2px 15px; color: #999; }
fieldset legend.active { background-color: #ddd; font-weight: bold; font-size: 1.4em; color: #333; padding: 5px 15px 5px 15px; }

/* Styles added to compliment existing twitter bootstrap styles */
.table-outlined { border: solid 1px #ddd; }
.table-outlined thead { background-color: #ededed; }
.breadcrumb li { color: #999; }
.progress .bar-inactive {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	color: #888;
	text-align: center;
	background-color: #eee;
	background-image: -moz-linear-gradient(top, #eee, #ddd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));
	background-image: -webkit-linear-gradient(top, #eee, #ddd);
	background-image: -o-linear-gradient(top, #eee, #ddd);
	background-image: linear-gradient(to bottom, #eee, #ddd);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	 -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	      box-sizing: border-box;
	-webkit-transition: width 0.6s ease;
	 -moz-transition: width 0.6s ease;
	   -o-transition: width 0.6s ease;
      transition: width 0.6s ease;
}